
[Unit]
Description=gpio input service for Rpi, for shutdown and reboot
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/pishutdown 29 up 0 1 "/sbin/shutdown -H now"   6 up 0 1 "sudo -u %SCAN_USER% /home/%SCAN_USER%/bin/atx-knob.sh" &

[Install]
WantedBy=multi-user.target

