
[Unit]
Description=gpio input service for Rpi, for shutdown and reboot
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/pishutdown 29 up 0 "/sbin/shutdown"   6 up 0 "/sbin/reboot" &

[Install]
WantedBy=multi-user.target

